
#container {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: #d2b48c;

	text-align: left;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* If my code and layout look familiar it is because I used InspectElemnt and copied the css from the example then tweaked it to better suit my HTML. */

h1 {
	font-size: 34px;
	margin-bottom: 5px;
}

h2 {
	font-size: 18px;
	margin-bottom: -26px;
    margin-top: 30px;
}

h3 {
	font-size: 26px;
	margin-bottom: -30px;
}

h4 {
	font-size: 22px;
	margin-bottom: -10px;
}

#Location {
    margin-top: 0px;
    margin-bottom: 10px;
}

#smmryTlte {
    margin-bottom: 5px;
    font-size: 26px;
}

#Resume {
    font-size: 64px;
    font-style: italic;
}

#Cage {
	outline: 8px solid #dea5a4;
	margin-top: 5px;
}

#Cage:hover {
	outline: 20px groove #dea5a4;
}